.header {
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoHeader {
    border: solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;

    
}